# Pastas
.idea
.vscode
Codigo/cmake-build-debug
Codigo/cmake-build-debug-event-trace

# PDFs
UML/uml pdf.pdf

# Arquivo com o path do cmake do Clion
Codigo/AnaliseGrafica/cmake_path.txt


## TEMPLATE Github:
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app