# Pastas
/.idea
/.vscode
Codigo/cmake-build-debug
Codigo/cmake-build-debug-event-trace
build

# Doxygen
Docs/html
Docs/latex

# PDFs
UML/uml pdf.pdf

# Arquivo com o path do cmake do Clion
Codigo/AnaliseGrafica/cmake_path.txt

# Arquivos de dados (pode ser gerado a qualquer momento)
Codigo/AnaliseGrafica/dados.csv


## TEMPLATE Github:
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app